@media screen and (max-width: 1536px) {
  .ct_hero_right_main {
    max-width: 649px;
    width: 649px;
  }

  .ct_hero_right_main>img {
    max-width: 649px;
    width: 649px;
  }


}


@media screen and (max-width:1399px) {
  .ct_sass_card_img img {
    height: auto;
  }

  .ct_sass_card_img {
    padding: 10px;
  }
}

@media screen and (max-width: 1338px) {
  .ct_hero_right_main {
    max-width: 549px;
    width: 549px;
  }

  .ct_hero_right_main>img {
    max-width: 649px;
    width: 649px;
  }

  br {
    display: none;
  }
}

@media screen and (max-width:1199px) {
  .ct_hamburger {
    color: #fff;
    display: flex;
  }

  .cti_saas_card {
    grid-template-columns: auto auto;
  }

  .ct_right_menu ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }




  header {
    backdrop-filter: unset;
    padding-block: 15px;
  }

  .ct_middle_navbar ul {
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 0px;
    max-width: 300px;
    width: 100%;
    padding: 80px 20px;
    align-items: flex-start;
    height: 100dvh;
    transition: 0.6s ease all;
    transform: scaleX(0);
    z-index: 99;
    transform-origin: right;
    bottom: 0px;
    perspective: 500px;
    perspective-origin: top;
    background-color: #01010280;
    backdrop-filter: blur(20px);
    gap: 0px !important;
    -webkit-backdrop-filter: blur(20px);
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 10px 40px rgba(0, 0, 0, 0.35);

  }

  .ct_middle_navbar ul.show {
    transform: scale(1);
    right: 0%;
  }

  .ct_dropdown {
    position: relative !important;
  }

  .ct_dropdown_items ol {
    position: unset !important;
    max-width: 100%;
    padding: 0 !important;
    height: 100%;
    transform: scale(1);
    background-color: transparent;
    left: 0px;
    right: 0px;
  }

  .ct_middle_navbar ul:not(.ct_dropdown_items ol) {
    align-items: start;
    justify-content: start;
  }

  .ct_middle_navbar li+li {
    width: 100%;
  }

  .ct_custom_dropdown {
    position: absolute;
  }

  .ct_custom_dropdown {
    display: flex;
    gap: 0px;
    flex-direction: column;
    overflow-y: auto;
    height: auto;
    max-height: 400px;
  }

  .ct_close_bar {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
    transition: 0.4s ease all;
    z-index: 9999;
    display: block;
    color: #fff;

  }

  .ct_close_bar:hover {
    transform: rotate(360deg);
  }

  .ct_fs_34 {
    font-size: 28px;
    line-height: 37.6px;
  }

  .ct_hero_right_main {
    max-width: 450px;
    width: 450px;
  }

  br {
    display: none;
  }

  .ct_app_types_img {
    padding-inline: 20px;
  }


  .your_own_bulid_sec_desc {

    grid-template-columns: 1fr;

    gap: 0px;
  }

  .your_own_bulid_sec_desc .ct_mb_34 {
    margin-bottom: 10px;
  }

  .ct_curve_arrow {
    display: none;
  }

  .cti_home_banner_cnt h1 {
    font-size: 68px;
  }

  .left-cont {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }


  .build-sec-list {
    grid-template-columns: repeat(4, 1fr);
    margin-block: 40px;
  }


  /* Right Content */
  .your_own_bulid_sec_desc>div:nth-child(3) {
    order: 2;
  }

  /* Image */
  .your_own_bulid_sec_desc>div:nth-child(2) {
    order: 3;
  }
}

@media (min-width:1048px) and (max-width:1180px) {

  .conn-tl,
  .conn-bl {
    width: 400px !important;
  }

  .conn-tr>svg,
  .conn-br>svg {
    width: 400px !important;
  }
}

@media (min-width:991px) and (max-width:1048px) {

  .conn-tl,
  .conn-bl {
    width: 360px !important;
  }

  .conn-tr>svg,
  .conn-br>svg {
    width: 360px !important;

  }




}

@media screen and (max-width:991px) {
  .cti_saas_card {
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.875rem;
    flex-flow: column;
    position: static;
  }

  .cti_home_banner_cnt h1 {
    font-size: 68px;
  }

  .cti_content {
    max-width: 100%;
  }

  .ct_sass_card_img {
    width: 100%;
  }

  .cti_saas_card {
    grid-template-columns: auto;
  }

  .cti_heading {
    font-size: 50px;
    line-height: 50px;
  }

  .ct_testimonial_slider .owl-nav {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    width: auto;
    justify-content: center;
    margin-top: 20px;
  }

  .ct_testimonial_slider .owl-nav button.owl-prev {
    left: 0px;
  }

  .ct_testimonial_slider .owl-nav button.owl-next {
    right: 0px;
  }

  .center-row {
    display: none;
  }

  .connectors-layer {
    display: none;
  }

  .ct_hero_right_main {
    display: none;
  }

  .ct_types_app_card {
    grid-template-columns: auto;
  }

  .ct_app_types_img {
    text-align: center;
  }

  .ct_inner_banner_main_cnt:before,
  .ct_inner_banner_main_cnt:after,
  .ct_inner_hero_bg:before,
  .ct_inner_hero_bg:after {
    height: 120px !important;
    max-width: 250px !important;
  }

  .ct_pricing_grid {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width:767px) {
  .cti_home_banner_cnt h1 {
    font-size: 60px;
    max-width: 498px;

  }

  .ct_fs_24 {
    font-size: 20px;
    line-height: 25.4px;
  }

  .ct_video_banner img,
  .ct_video_banner video {
    aspect-ratio: unset;
  }

  .ct_home_titles_cnt h2 {
    font-size: 60px;
    line-height: 63px;

  }

  .cti_heading {
    font-size: 45px;
    line-height: 45px;
  }

  .design-box-card h3 {
    font-size: 28px;
    line-height: 31px;
  }

  .ct_fs_44 {
    font-size: 35px;
    line-height: 48.22px;
  }

  .ct_fs_26 {
    font-size: 22px;
  }

  .ct_fs_38 {
    font-size: 30px;
    line-height: 40px;
  }

  .ct_row_reverse_767 {
    flex-direction: column-reverse;
  }

  .ct_blue_outline_btn,
  .ct_blue_btn_fill {
    padding-inline: 15px !important;
  }

  header,
  .ct_px_80 {
    padding-inline: 30px;
  }

  .ct_faq_title svg {
    width: 80px;
  }

  .ct_our_mission_blue_bg {
    padding-inline: 15px;
  }

  .ct_faq_banner {
    padding-inline: 0;
  }
}

@media screen and (max-width:575px) {
  .cti_home_banner_cnt h1 {
    font-size: 41px;
    max-width: 498px;
  }

  .ct_home_titles_cnt h2 {
    font-size: 40px;
    line-height: 43px;
    max-width: 399px;

  }

  .cti_stat_box h3 {
    font-size: 20px;
  }

  .cti_stats_wrapper {
    gap: 20px;
  }

  .cti_heading {
    font-size: 32px;
  }

  .center-row {
    height: 120px;
  }

  .orb {
    width: 88px;
    height: 88px;
  }

  .ct_btn_group {
    flex-direction: column;
  }

  .ct_btn_group {
    gap: 20px;
  }

  .ct_btn_group .ct_blue_outline_btn,
  .ct_btn_group .ct_blue_btn_fill {
    width: 100%;
  }

  .ct_fs_44 {
    font-size: 26px;
    line-height: 34px;
  }

  .ct_header_main {
    padding-inline: 10px;
  }

  header,
  .ct_px_80 {
    padding-inline: 15px;
  }

  .ct_inner_banner_main_cnt:before,
  .ct_inner_banner_main_cnt:after,
  .ct_inner_hero_bg:before,
  .ct_inner_hero_bg:after {
    height: 80px !important;
    max-width: 180px !important;
  }

  .build-sec-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .ct_pt_145px,.ct_service_section,.ct_pt_150 ,.cti_contact_bg_new {
    padding-top: 82px;
}
.ct_service_section ,.ct_pb_150 ,.cti_contact_bg_new{
  padding-bottom: 82px;
}
}